<!doctype html>
<html lang="en">
  <head>
    <title>Ceasar Shift</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/cypher.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    </head>
  <body>
      
    <div class="container">
        <div class="bs-docs-section">
          <form action="/" method="GET">
            <button type="submit" class="btn btn-primary">HOME</button>
          </form>
          <br>
          <br>
          <h1 id="forms" class="page-header">Ceasar Shift</h1>
            <form role="form" action="/caesar" method="POST">
              <div class="form-group">
                <input type="textarea" class="form-control" id="inputC" name="plain_text" value="{{ data[1] }}" placeholder="Plain Text">
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label class="float-label" for="inputC"></label>
              </div>
              <div class="form-group">  
                 <input type="textarea" class="form-control" id="outputC" name="cipher_text" value="{{ data[2] }}" placeholder="Cipher Text">
                 <span class="form-highlight"></span>
                 <span class="form-bar"></span>
                 <label for="outputC"></label>        
              </div>
                <div class="select">
                        <div class="btn">
                                <button type="submit" class="btn btn-primary">GO</button>
                        </div>
                    <select name="choices">
                        <option value="Encrypt">Encrypt</option>
                        <option value="Decrypt">Decrypt</option>
                        <option value="Crack">Crack</option>
                    </select>
                    <select name="key_choices">
                    {% for i in range(data[0]) %}
                      <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    </select>
                </div>
              </div>
            </form>
          </div>
  </body>
</html>